@font-face {
  font-family: 'FF Good Pro News';
  src: url('../../fonts/FFGoodPro-NewsItalic.eot');
  src: local('FF Good Pro News Italic'), local('FFGoodPro-NewsItalic'),
      url('../../fonts/FFGoodPro-NewsItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-NewsItalic.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-NewsItalic.woff') format('woff'),
      url('../../fonts/FFGoodPro-NewsItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-BlackItalic.eot');
  src: local('FF Good Pro Black Italic'), local('FFGoodPro-BlackItalic'),
      url('../../fonts/GoodPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-BlackItalic.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-BlackItalic.woff') format('woff'),
      url('../../fonts/FFGoodPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'FF Good Pro News';
  src: url('../../fonts/FFGoodPro-News.eot');
  src: local('FF Good Pro News'), local('FFGoodPro-News'),
      url('../../fonts/FFGoodPro-News.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-News.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-News.woff') format('woff'),
      url('../../fonts/FFGoodPro-News.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FF Good Pro Wide';
  src: url('../../fonts/FFGoodProWide-Regular.eot');
  src: local('FF Good Pro Wide'), local('FFGoodProWide-Regular'),
      url('../../fonts/FFGoodProWide-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodProWide-Regular.woff2') format('woff2'),
      url('../../fonts/FFGoodProWide-Regular.woff') format('woff'),
      url('../../fonts/FFGoodProWide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-Light.eot');
  src: local('FF Good Pro Light'), local('FFGoodPro-Light'),
      url('../../fonts/FFGoodPro-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-Light.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-Light.woff') format('woff'),
      url('../../fonts/FFGoodPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-Bold.eot');
  src: local('FF Good Pro Bold'), local('FFGoodPro-Bold'),
      url('../../fonts/FFGoodPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-Bold.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-Bold.woff') format('woff'),
      url('../../fonts/FFGoodPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-LightItalic.eot');
  src: local('FF Good Pro Light Italic'), local('FFGoodPro-LightItalic'),
      url('../../fonts/FFGoodPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-LightItalic.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-LightItalic.woff') format('woff'),
      url('../../fonts/FFGoodPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FF Good Pro Ultra';
  src: url('../../fonts/FFGoodPro-UltraItalic.eot');
  src: local('FF Good Pro Ultra Italic'), local('FFGoodPro-UltraItalic'),
      url('../../fonts/FFGoodPro-UltraItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-UltraItalic.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-UltraItalic.woff') format('woff'),
      url('../../fonts/FFGoodPro-UltraItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-BoldItalic.eot');
  src: local('FF Good Pro Bold Italic'), local('FFGoodPro-BoldItalic'),
      url('../../fonts/FFGoodPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-BoldItalic.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-BoldItalic.woff') format('woff'),
      url('../../fonts/FFGoodPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FF Good Pro Ultra';
  src: url('../../fonts/FFGoodPro-Ultra.eot');
  src: local('FF Good Pro Ultra'), local('FFGoodPro-Ultra'),
      url('../../fonts/FFGoodPro-Ultra.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-Ultra.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-Ultra.woff') format('woff'),
      url('../../fonts/FFGoodPro-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-Black.eot');
  src: local('FF Good Pro Black'), local('FFGoodPro-Black'),
      url('../../fonts/FFGoodPro-Black.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-Black.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-Black.woff') format('woff'),
      url('../../fonts/FFGoodPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-MediumItalic.eot');
  src: local('FF Good Pro Medium Italic'), local('FFGoodPro-MediumItalic'),
      url('../../fonts/FFGoodPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-MediumItalic.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-MediumItalic.woff') format('woff'),
      url('../../fonts/FFGoodPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-Italic.eot');
  src: local('FF Good Pro Italic'), local('FFGoodPro-Italic'),
      url('../../fonts/FFGoodPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-Italic.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-Italic.woff') format('woff'),
      url('../../fonts/FFGoodPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-Medium.eot');
  src: local('FF Good Pro Medium'), local('FFGoodPro-Medium'),
      url('../../fonts/FFGoodPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-Medium.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-Medium.woff') format('woff'),
      url('../../fonts/FFGoodPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FF Good Pro';
  src: url('../../fonts/FFGoodPro-Regular.eot');
  src: local('FF Good Pro'), local('FFGoodPro-Regular'),
      url('../../fonts/FFGoodPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/FFGoodPro-Regular.woff2') format('woff2'),
      url('../../fonts/FFGoodPro-Regular.woff') format('woff'),
      url('../../fonts/FFGoodPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

